
html {
    background-color: rgba(73, 233, 220, 0.89);
    width: 500px;
    padding-left: 400px;
}


.p {
    display: block;
    text-align: center;
}
.d {
    width: 177px;
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
    
}

.order{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.racao{
    padding-left: 25px;
}
.label {
    display: flex;
    flex-direction: column;
    align-items: center     ;
}

.bt {
    background-color:rgb(14, 79, 57);
    border-radius: 25px;

    
}

.abt {
    text-decoration: none;
    padding: 10px ;
    color: white;
    
}

:hover.abt{
    color: red;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

